<div id="page">
    <main>
<p>::::    ::::::::::::::::    ::::::    ::: ::::::::
:+:+:   :+::+:       :+:    :+::+:    :+::+:    :+: 
:+:+:+  +:++:+        +:+  +:+ +:+    +:++:+        
+#+ +:+ +#++#++:++#    +#++:+  +#+    +:++#++:++#++ 
+#+  +#+#+#+#+        +#+  +#+ +#+    +#+       +#+ 
#+#   #+#+##+#       #+#    #+##+#    #+##+#    #+# 
###    #################    ### ########  ########</p>
        <p>{{{ greeting }}}</p>
        <p>ALL SYSTEMS OFFLINE. <span id="timerOut"></span></p>
        <div id="out"></div>
        <form id="cmd" autocomplete="off" method="post" action="?"><input type="text" id="main"><input type="submit"></form>
    </main>
</div>