<div id="page">
    <main>
<p>::::    ::::::::::::::::    ::::::    ::: ::::::::
:+:+:   :+::+:       :+:    :+::+:    :+::+:    :+: 
:+:+:+  +:++:+        +:+  +:+ +:+    +:++:+        
+#+ +:+ +#++#++:++#    +#++:+  +#+    +:++#++:++#++ 
+#+  +#+#+#+#+        +#+  +#+ +#+    +#+       +#+ 
#+#   #+#+##+#       #+#    #+##+#    #+##+#    #+# 
###    #################    ### ########  ########</p>
        <p>{{{ greeting }}}</p>
        <p>ALL SYSTEMS OFFLINE</p>
        <p id="out"></p>
    </main>
</div>